
  
.scrollarea,
.widget-container {
    background-color: #fff;
}
  
.scrollarea .thumbnail-wrapper {
    margin: 0 10px;
    
    @media screen and (min-width: 801px) {
        margin: 0 25px;
    }
}
